:root {
    --BORDER_DIVIDER_COLOR: #d8d8d8;
    --PRIMARY_COLOR: darkred;
    --PRIMARY_BUTTON_COLOR: orange;
    --highlight-color: #dee2ec;
    --HEADER_BACKGROUND_COLOR: #f9f9f9;
    --SEARCH_TEXT_COLOR: #878787;
    --APP_GREY_COLOR: #828282;
}
