@import '../../App.css';

.signup-box {
    display: flex;
    flex-direction: column;
    
}

.signup-box>:not(:last-child) {
    margin-bottom: 16px;
}

.base-container svg {
    width: 100px;
    height: 100px;
}

.base-container svg path {
    stroke: indianred;
}

.base-container .header-container {
    display: flex;
    align-items: center;
}

.base-container .header-container .restaurant-name {
    color: indianred
}

.signup-box .form-error {
    color: red;
}

.signup-box .MuiTextField-root {
    width: auto !important;
}
